.questions__title {
    font-weight: 900;
    font-size: 32px;
    line-height: 50px;
    text-transform: uppercase;
}

.question-body-item {
    display: flex;
    align-items: center;
}

.custom-radio {
    position: relative;
    height: 20px;
}

.custom-radio input[type=radio] {
    width: 20px;
    height: 20px;
    position: relative;
    z-index: 1;
    opacity: 0;
    cursor: pointer;
    margin: 0;
}

.custom-radio input[type=radio] + span {
    width: 20px;
    height: 20px;
    position: absolute;
    z-index: -1;
    border: 2px solid #2A3548;
    border-radius: 50%;
    top: 0;
    left: 0;
}

.custom-radio input[type=radio] + span:after {
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    position: absolute;
    background: #2A3548;
    border-radius: 50%;
    top: 3px;
    left: 3px;
    transition: .3s;
    transform: scale(0);
}

.custom-radio input[type=radio]:checked + span:after {
    transform: none;
}

.question-body-item__label {
    font-size: 24px;
    margin-left: 30px;
    cursor: pointer;
}

.questions-body {
    display: grid;
    grid-gap: 30px 50px;
    margin-top: 60px;
}

.questions-body-double {
    grid-template-columns: 300px 300px;
}

.questions-nav {
    display: flex;
    align-items: center;
    margin-top: 30px;
}

.questions-nav svg {
    cursor: pointer;
    border-radius: 50%;
    transition: .1s;
}

.questions-nav svg:hover {
    box-shadow: 0 0 10px rgba(0,0,0,.3);
}

.questions-nav svg:active,
.questions-nav svg:focus {
    transform: scale(.95);
    box-shadow: 0 0 3px rgba(0,0,0,.3);
}

.questions-nav .btn {
    margin-left: 50px;
}

.questions-nav-final-input {
    width: 360px;
    border: 2px solid #EAEAEA;
    border-radius: 5px;
    padding: 20px 15px;
    margin-left: 30px;
}