.quiz {
    height: 100%;
    padding: 40px 0;
    display: flex;
    align-items: center;
}

@media (max-width: 1023px) {
    .quiz {
        padding-bottom: 0;
    }
}

@media (max-width: 767px) {
    .quiz {
        padding: 0;
    }
}